@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500&family=Lora:wght@400;500&family=Poppins:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  .content{
    display: flex;
    flex-direction: row;  
    background-color:  #f2f4fc;;
  }
  .article {
    width: 60%;
    margin-left: 2em;
  }
  
  .cart_box img {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  .cart_img {
    display: flex;
    width: 400px;
  }
  
  .cart_img p {
    font-weight: bold;
    margin-left: 10px;
  }
  
  .cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid skyblue;
    padding-bottom: 5px;
  }
  
  .cart_box div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .cart_box div:nth-child(3) button {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: white;
    background-color: skyblue;
    border-radius: 5px;
    cursor: pointer;
  }
  .cart_box div:nth-child(3) button:hover {
    background-color: darkseagreen;
  }
  .cart_box div:nth-child(3) span {
    background-color: lightgreen;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 2em; 
  }
  
  .total span:nth-child(1) {
    font-size: 2rem;
    color: skyblue;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .total span:nth-child(2) {
    font-size: 2rem;
    color: green;
    font-weight: bold;
  }
  .op{
    color: white;
    background-color: black;
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 70%;
    cursor: pointer;
    transition: .4s ease-in;
  }
  .op:hover{
    box-shadow: 10px 10px 0px red;
  }
  .whole{
    width: 40%;
    margin-left: 5rem;
    align-items: center;
    text-align: center;
    margin-left: 3em;
  }
  .orders{
    width: 70%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 5px;
    justify-content: space-between;
    margin-left: 17%;
  }
  .placed{
    border: 1px solid rgb(15, 160, 15);
    background-color:rgb(15, 160, 15) ;
    padding: 5px;
    color: white;
    margin-left: 50%;
    margin-top: 10px;
    width: 30%;
  }
  .tp{
    font-size: 1.5rem;
    margin-top: 1em;
    font-weight: bolder;
    color: black;
  }
  .ta{
    
      font-size: 1.5rem;
      margin-top: 1em;
      font-weight: bolder;
      color: black;
      margin-left: 3px;
  }
  .mc{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .ro{
    margin-top: 10px;
  }
  .order-btn{
    display: flex;
    margin-left: 15%;
  }
  .btnn{
    border: none;
    outline: none;
    color: black;
    padding-left: 5%;
    background-color: yellow;
    font-weight: bold;
    padding-right:5% ;
    cursor: pointer;
  }
  .btnn:hover{
    color: white;
    background-color: black;
  }